[submodule "Speech-To-Lip/Wav2Lip"]
	path = SpeechToVideoSystems/Wav2Lip/Wav2Lip
	url = https://github.com/gk169/Wav2Lip.git
[submodule "Text-To-Speech/RTVC/RealTimeVoiceCloning"]
	path = TextToSpeechSystems/RTVC/RealTimeVoiceCloning
	url = https://github.com/gk169/RealTimeVoiceCloning.git
[submodule "Text-To-Speech/TensorFlowTTS/TensorFlowTTS"]
	path = TextToSpeechSystems/TensorFlowTTS/TensorFlowTTS
	url = https://github.com/gk169/TensorFlowTTS.git
