[submodule "Speech-To-Lip/Wav2Lip"]
	path = Speech-To-Lip/Wav2Lip
	url = https://github.com/gk169/Wav2Lip.git
[submodule "Text-To-Speech/TensorFlowTTS"]
	path = Text-To-Speech/TensorFlowTTS
	url = https://github.com/gk169/TensorFlowTTS.git
[submodule "Text-To-Speech/Real-Time-Voice-Cloning"]
	path = Text-To-Speech/Real-Time-Voice-Cloning
	url = https://github.com/CorentinJ/Real-Time-Voice-Cloning.git
