-f https://download.pytorch.org/whl/torch_stable.html
torch===1.7.1+cu110
torchvision===0.8.2+cu110
torchaudio===0.7.2
#spyder
umap-learn
visdom
librosa>=0.8.0
matplotlib>=3.3.0
numpy==1.19.3; platform_system == "Windows"
numpy==1.19.4; platform_system != "Windows"
scipy>=1.0.0
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba
spyder
pyaudio
webrtcvad; platform_system != "Windows"
webrtcvad-wheels; platform_system == "Windows"
ffmpeg-python